// ===========================
// PLACEMENT
// ===========================

.pt-10 { padding-top: 10px; }
.pt-15 { padding-top: 15px; }
.pt-20 { padding-top: 20px; }
// .pt-25 { padding-top: 10px; }
// .pt-30 { padding-top: 10px; }
// .pt-35 { padding-top: 10px; }
// .pt-40 { padding-top: 10px; }
// .pt-45 { padding-top: 10px; }
// .pt-50 { padding-top: 10px; }
// .pt-55 { padding-top: 10px; }
// .pt-60 { padding-top: 10px; }
// .pt-65 { padding-top: 10px; }
// .pt-70 { padding-top: 10px; }
// .pt-75 { padding-top: 10px; }
// .pt-80 { padding-top: 10px; }
// .pt-85 { padding-top: 10px; }
// .pt-90 { padding-top: 10px; }
// .pt-95 { padding-top: 10px; }