@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
    .button {
        @apply px-3 py-2 font-light rounded-md cursor-pointer;
    }
    .button--sm {
        @apply px-4 py-2 text-xs;
    }
    .button--success {
        @apply bg-green-500 hover:bg-green-400;
    }
    .button--warning {
        @apply bg-yellow-500 hover:bg-yellow-400;
    }
    .button--danger {
        @apply bg-red-500 hover:bg-red-400;
    }

    // FORMS
    .form-item {
        @apply mb-8;
    }
    
    // BASE
    .wrapper {
        @apply flex mx-auto w-10/12;
    }

    tr.odd {
        @apply bg-gray-100;
    }
}

// ERRORS
$red-400: #F87171;

.field_with_errors {
    background-color: inherit !important;

    input {
        border-color: $red-400;
    }
}

#error_explanation {
    color: $red-400;
    border: none !important;
    background-color: inherit !important;
    margin-bottom: 0 !important;

    h2 {
        background-color: $red-400;
        padding: 1rem !important;
        font-weight: lighter !important;
        font-size: 1.25rem !important;
        margin-bottom: 1rem !important;
    }

    ul {
        list-style: none !important;
    }
}